<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <div id ='header'></div>
    <!-- styles -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/lilurl_css.css' %}">

  </head>
  <body>

    {% block content %}{% endblock %}

    <!-- JavaScript scripts -->
    <script type="text/javascript" src="{% static 'js/lilurl_js.js' %}"></script>
    <div id='footer'></div>
  </body>
</html>  
